<%= form_for(@engineroom) do |f| %>
  <% if @engineroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engineroom.errors.count, "error") %> prohibited this engineroom from being saved:</h2>

      <ul>
      <% @engineroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :noise_id %><br>
    <%= f.number_field :noise_id %>
  </div>
  <div class="field">
    <%= f.label :oilcolor_id %><br>
    <%= f.number_field :oilcolor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
