<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :when %><br>
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.label :gas %><br>
    <%= f.number_field :gas %>
  </div>
  <div class="field">
    <%= f.label :odometer %><br>
    <%= f.number_field :odometer %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="field">
    <%= f.label :memberscar_id %><br>
    <%= f.number_field :memberscar_id %>
  </div>

  <h2>点検</h2>
  <%= f.fields_for :inspection do |inspection_fields| %>
    <div class="field">
      <%= inspection_fields.label :mechanic %><br>
      <%= inspection_fields.text_field :mechanic %>
    </div>
    <div class="field">
      <%= inspection_fields.label :memo %><br>
      <%= inspection_fields.text_area :memo %>
    </div>

    <h3>エンジンルーム点検</h3>
    <%= inspection_fields.fields_for :engineroom do |engineroom_fields| %>
      <div class="field">
        <%= engineroom_fields.label :noise_id %><br>
        <%= engineroom_fields.number_field :noise_id %>
      </div>
      <div class="field">
        <%= engineroom_fields.label :oilcolor_id %><br>
      <%= engineroom_fields.number_field :oilcolor_id %>
      </div>
    <% end %>

  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
