<p id="notice"><%= notice %></p>

<p>
  <strong>Numberplate:</strong>
  <%= @memberscar.numberplate %>
</p>

<p>
  <strong>Automaker:</strong>
  <%= @memberscar.automaker %>
</p>

<hr>
<h3>来店履歴</h3>
<%= render 'visits/index' %>

<hr>
<h3>今回の来店情報</h3>
<%= render 'visits/form' %>


<%= link_to 'Edit', edit_memberscar_path(@memberscar) %> |
<%= link_to 'Back', memberscars_path %>
