<h1>Listing inspections</h1>

<table>
  <thead>
    <tr>
      <th>Mechanic</th>
      <th>Memo</th>
      <th>Visit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= inspection.mechanic %></td>
        <td><%= inspection.memo %></td>
        <td><%= inspection.visit_id %></td>
        <td><%= link_to 'Show', inspection %></td>
        <td><%= link_to 'Edit', edit_inspection_path(inspection) %></td>
        <td><%= link_to 'Destroy', inspection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspection', new_inspection_path %>
